body {
    background-color: #f5f7fa;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

.section_1 {
    padding: 2% 1%;
    width: 100%;
}

.section_1 .container {
    max-width: 1280px;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.section_1 .container .columns {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.section_1 .container .columns:nth-child(1) {
    box-shadow: 0 0.3rem 0.8rem rgba(40, 70, 100, .25);
    border-radius: 8px;
    gap: 0px;
    overflow: hidden;
}

.section_1 .container .columns:nth-child(1) .card_body {
    padding: 1.5rem 2rem;
}

.section_1 .container .columns .card-title {
    margin-bottom: 15px;
    font-size: 18px;
}

.section_1 .container .columns:nth-child(1) .card_body footer {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.section_1 .container .columns .innercolumns {
    display: flex;
    box-shadow: 0 0.3rem 0.8rem rgba(40, 70, 100, .25);
    border-radius: 8px;
    flex-direction: row;
    overflow: hidden;
}

.section_1 .container .innercolumns footer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 15px;
}

.section_1 .container .columns .innercolumns img {
    max-width: 220px;
    object-fit: cover;
}

.section_1 .container .columns .innercolumns .card-body {
    padding: 30px 18px;
    width: 100%;
}

@media only screen and (max-width:1199px) {
    .section_1 .container {
        max-width: 940px;
    }
    .section_1 .container .columns .innercolumns img {
        max-width: 193px;
        object-fit: cover;
    }
}

@media only screen and (max-width:991px) {
    .section_1 .container {
        flex-direction: column;
        max-width: 720px;
    }

    .section_1 .container .columns {
        width: 100%;
    }
}

@media only screen and (max-width:767px) {
    .section_1 .container {
        max-width: 520px;
    }
    .section_1 .container .columns .innercolumns img {
        max-width: 220px;
    }
}

@media only screen and (max-width:575px) {
    .section_1 .container {
        width: 100%;
    }

    .section_1 .container .columns .innercolumns {
        flex-direction: column;
    }

    .section_1 .container .columns .innercolumns img {
        max-width: 100%;
        height: 6.3rem;
        object-fit: cover;
        object-position: center;
    }
    .section_1 .container .columns:nth-child(1) .card_body {
        padding: 13px;
    }
}

/* footer  */
*{
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
}
.footer {
    background-image: url("../images/footer/1.png");
    background-size: cover;
    color: #fff;
    padding: 2.7rem 0
}

.footer>.container {
    overflow: hidden;
    position: relative
}

.footer>.container>.frame {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
}

@media (min-width: 1201px) {
    .footer {
        padding-bottom:3rem;
        padding-top: 6rem
    }
}

.footer .widget_nav_menu h3,.footer .widget_text h3 {
    font-weight: 600;
    text-align: center;
    text-transform: uppercase
}

@media (min-width: 768px) {
    .footer .widget_nav_menu h3,.footer .widget_text h3 {
        text-align:center;
    }
    .footer__copyright {
        padding-bottom:0;
    }
    .footer .widget_nav_menu .menu {
        margin-bottom:3rem;
        font-size:1.4rem;
    }
    .footer .widget_nav_menu .menu li {
        text-align:left
    }
    .footer .textwidget img {
        margin:0;
        max-width: 15rem
    }
}

.footer .widget_nav_menu .menu {
    font-size: 1.1rem;
    list-style: none;
    margin-bottom: 0;
    margin-top: 1.5rem;
    padding-left: 0
}

.footer .widget_nav_menu .menu li {
    text-align: center
}

.footer .widget_nav_menu .menu li a {
    color: #a6afb9;
    display: inline-block;
    font-weight: 300;
    padding: .5rem 0;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase
}

.footer .widget_nav_menu .menu li a:hover,.footer a,.footer a:hover {
    color: #fff
}

.footer__copyright {
    color: #a6afb9;
    display: flex;
    flex-flow: row wrap;
    font-size:12px;
    justify-content: center;
    padding-bottom: 1.5rem;
    text-transform: uppercase
}

.footer__sep {
    color: #a6afb9;
    padding: 0 1rem
}

.footer .footer-privacy-menu {
    list-style: none;
    margin: 0
}

.footer .footer-privacy-menu li a {
    color: #a6afb9;
    text-decoration: none
}

.footer .footer-privacy-menu li a:hover {
    color: #a6afb9
}

.footer .credit {
    color: #fff;
    font-size: 1.1rem;
    margin: 0;
    text-align: right
}

@media (min-width: 1024px) {
    .footer .credit {
        padding-left:1.5rem;
        text-align: left
    }
}

.footer h3 {
    color: #fff;
    padding: 0
}

.footer h3.post-card__title {
    padding-bottom: 1.5rem
}

.footer .textwidget {
    color: #fff;
    margin-top: 1.5rem;

}

.footer .textwidget img {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    width: auto
}
footer > div > div.frame.footer__content-frame > div:nth-child(2) > div.frame{
    display: flex;
    flex-direction: row;
}
footer .footer__content-frame > div:nth-child(1){
    width: 20%;
}
footer .footer__content-frame > div:nth-child(2){
    width: 80%;
}
footer .footer__content-frame > div:nth-child(2) .frame > div{
    flex: 0 0 25%;
    max-width: 25%;
    padding:2rem;
    box-sizing: border-box;
}

.footer__logo {
    padding: 2rem;
}

.footer__logo img {
    margin: 0 auto;
    width: 6.3rem;
    height: auto;
}
.footer__copyright-frame > div{
    margin: auto;
}
@media (max-width: 768px) {
    footer .footer__content-frame > div:nth-child(1){
        margin: auto;
        width: 100%;
    }
    footer .footer__content-frame > div:nth-child(2) .frame > div {
        width: 100%;
        max-width: 100%;
    }
    footer > div > div.frame.footer__content-frame > div:nth-child(2) > div.frame{
        display: grid;
        grid-template-columns: 48% 48%;
        grid-template-rows: auto;
        grid-gap: 19px;
    }

    .footer {
        background: #1a1a1a;
        padding: 1.5rem 0 6rem
    }
    .footer__logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    footer .footer__content-frame > div:nth-child(2) .frame > div{
        padding: 1rem;
    }
    .footer{
        padding-left:20px;
        padding-right: 20px;
    }

}
@media only screen and (max-width:1024px){
    .footer>.container>.frame{
        flex-direction: column;
    }
    footer .footer__content-frame > div:nth-child(2){
        width: 100%;
    }
}





* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.section_2 {
    padding: 2% 1%;
    width: 100%;
}

.section_2 .container {
    max-width: 1280px;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section_2 .container .main-div {
    display: flex;
    box-shadow: 0 0.3rem 0.8rem rgba(40, 70, 100, .25);
    border-radius: 8px;
    overflow: hidden;
}

.section_2 .container .main-div img {
    max-width: 100%;
    object-fit: cover;
}

.section_2 .container .main-div .card_body {
    flex: 1;
    box-shadow: 0 0.3rem 0.8rem rgba(40, 70, 100, .25);
    overflow: hidden;
    padding: 1.5rem 2rem;
}

.section_2 .container .main-div .card-title {
    margin-bottom: 15px;
}

.section_2 .container .main-div .card_body footer {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.section_2 .container .other-divs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section_2 .container .other-divs .innercolumns {
    flex: 0 0 32%;
    max-width: 32%;
    box-shadow: 0 0.3rem 0.8rem rgba(40, 70, 100, .25);
    border-radius: 8px;
    overflow: hidden;
}

.section_2 .container .other-divs .innercolumns img {
    max-width: 100%;
    object-fit: cover;
}

.section_2 .container .other-divs .innercolumns .card-body {
    padding: 30px 18px;
    width: 100%;
}

.section_2 .container .other-divs .innercolumns .card-meta {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 15px;
}

@media only screen and (max-width: 1199px) {
    .section_2 .container .other-divs .innercolumns {
        flex: 0 0 100%;
        max-width: 100%;

    }
}

@media only screen and (max-width: 575px) {
    .section_2 .container .main-div {
        flex-direction: column;
    }

    .section_2 .container .main-div img {
        max-width: 100%;
        object-fit: cover;
        object-position: center;

    }

    .section_2 .container .main-div .card_body {
        padding: 13px;
    }

    .section_2 .container .other-divs {
        flex-direction: column;
        gap: 20px;
    }

    .section_2 .container .other-divs .innercolumns {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.text_line {
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    width: 100%;
}

.text_line span {
    background: #f5f7fa;
    padding:0 10px;
}

.section_1 .container .columns:nth-child(1) img{
    max-height: 242px;
    object-fit: cover;
}

.footer_container {
    padding: 20px;
    text-align: center;
}

.footer_container h2, h4 {
    color: white;
}

input[type=text], input[type=submit] {
    width: 50%; /* Shorter width */
    padding: 12px;
    margin: 8px auto; /* Centered */
    display: block; /* Change to block for auto margin to work */
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=checkbox] {
    margin-top: 16px;
}

input[type=submit] {
    color: white;
    border: none;
    cursor: pointer; /* Add pointer cursor on hover */
}

input[type=submit]:hover {
    opacity: 0.8;
}

.checkbox-container {
    display: block;
    text-align: center; /* Center the checkbox label */
}

.holder {
    padding: 2%;
}

.line_settings {
    max-width: 1280px;
    margin: auto;
    padding-bottom: 2%;
    padding-top: 1%;
}
